.locations {
  width: 100%;
  text-align: center;

  &__inner{
    padding-top: 40px;
    padding-bottom: 45px;
    @media (min-width: @screen-sm) {
      padding-top: 45px;
      padding-bottom: 50px;
    }
  }

  &__title{
    margin: 0 0 20px;
    font-family: @serif-caption;
    color: @gray-darker;
    font-weight: normal;
    font-size: @font-size-base +12px;
  }

  &__list{
    padding: 0;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid @gray-lighter;
    font-size: 0;
    position: relative;

    @media (min-width: @screen-sm) {
      width: 380px;
      margin: 0 auto;
    }
  }

  &__list:after{
    content: "";
    display: block;
    width: 1px;
    height: 70%;
    background-color: @gray-lighter;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    }

  &__item{
    display: inline-block;
    height: 160px;
    width: 50%;
    text-transform: uppercase;
    position: relative;

    &:first-child .locations__item-name:after{
      width: 82px;
      height: 64px;
      background: url(../img/form_hotel.png) no-repeat;
    }
    &:last-child .locations__item-name:after{
      width: 80px;
      height: 62px;
      background: url(../img/form_cottage.png) no-repeat;
    }
  }
  &__choise{
    display: block;
    cursor: pointer;
    padding-bottom: 100px;
    input[type="radio"]{
      display: none;
      &:checked + .locations__item-name:after{
        opacity: 1;
      }
      &:checked + .locations__item-name:before{
        content: "";
        display: block;
        width: 17px;
        height: 12px;
        background: url(../img/form_check.png) no-repeat;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 130px;
      }
    }
  }
  &__item-name{
    display: block;
    margin-top: 20px;
  }
  &__item-name:after{
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    opacity: .4;
    transition: opacity .5s ease;
  }
}