@font-face {
    font-family: "FiraSans", sans-serif;
    src: url("../fonts/FiraSansRegular.eot");
    src: url("../fonts/FiraSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/FiraSansRegular.woff") format("woff"),
    url("../fonts/FiraSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}